<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZWZhdWx0TG9jYWxpemF0aW9uIjoiZW4iLCJkZXBlbmRlbmNpZXMiOltd
		LCJkaXNwbGF5TmFtZSI6IkdldCBTdGFydGVkIHdpdGggQXBwcyIsInBhY2th
		Z2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpb
		XSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0sInBy
		b2R1Y3RzIjpbeyJuYW1lIjoiR2V0IFN0YXJ0ZWQgd2l0aCBBcHBzIiwic2V0
		dGluZ3MiOlt7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZl
		cnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7
		InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1
		ZSJ9fX0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0s
		ImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpb
		InBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9u
		cyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJs
		YW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29u
		ZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRh
		cmdldHMiOlsiQXBwIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwi
		dGFyZ2V0TWFwIjp7IkFwcCI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6
		WyJHdWlkZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHAiLCJw
		YXRoIjoiQXBwIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBl
		IjoiZXhlY3V0YWJsZSJ9LCJHdWlkZSI6eyJkZXBlbmRlbmNpZXMiOltdLCJl
		eGNsdWRlIjpbXSwibmFtZSI6Ikd1aWRlIiwicGF0aCI6Ikd1aWRlIiwicmVz
		b3VyY2VzIjpbeyJwYXRoIjoiR3VpZGUudHV0b3JpYWwiLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9jb21wb3NhYmlsaXR5
		QDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNv
		dXJjZXNcL2NyZWF0aW5nLW5ldy1zd2lmdHVpLXZpZXdzQDJ4LnBuZyIsInJ1
		bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL2V4cGVy
		aW1lbnQtd2l0aC1zd2lmdHVpQDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6
		e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL2dldC1zdGFydGVkLXdpdGgtYXBw
		c0AyeC5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVz
		b3VyY2VzXC9tb2RpZnlpbmctc3dpZnQtdWktdmlld3NAMngucG5nIiwicnVs
		ZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvc3dpZnQt
		dWktdmlld3NAMngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0
		dGluZ3MiOltdLCJ0eXBlIjoicmVndWxhciJ9fSwidGFyZ2V0cyI6W3siZGVw
		ZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiR3VpZGUiLG51bGxdfV0sImV4Y2x1
		ZGUiOltdLCJuYW1lIjoiQXBwIiwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifSx7ImRlcGVu
		ZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiR3VpZGUiLCJwYXRo
		IjoiR3VpZGUiLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJHdWlkZS50dXRvcmlh
		bCIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNc
		L2NvbXBvc2FiaWxpdHlAMngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19
		LHsicGF0aCI6IlJlc291cmNlc1wvY3JlYXRpbmctbmV3LXN3aWZ0dWktdmll
		d3NAMngucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJl
		c291cmNlc1wvZXhwZXJpbWVudC13aXRoLXN3aWZ0dWlAMngucG5nIiwicnVs
		ZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvZ2V0LXN0
		YXJ0ZWQtd2l0aC1hcHBzQDJ4LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fSx7InBhdGgiOiJSZXNvdXJjZXNcL21vZGlmeWluZy1zd2lmdC11aS12aWV3
		c0AyeC5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVz
		b3VyY2VzXC9zd2lmdC11aS12aWV3c0AyeC5wbmciLCJydWxlIjp7InByb2Nl
		c3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		PX6ej/q+B32YUxPCwXMx9CUIV0I/CUwow3KSnVXo5tI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
